.star{
    border-color: yellow;
    color: orange;
  }
  
  .name{
    font-weight: solid;
    margin-bottom: 1px;
  }
  
  .opinion{
    width: 65%;
    float: right;
  }
  .author{
      
    width: 34%;
    float: left;
    margin-bottom: 25px;
    margin-top: 0;
    border-right: 1px solid lightgrey;
    
  }
  